
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body{
    font-family: "Inter", sans-serif;
}
.page{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;

}

.menu{
    display: flex; 
    height: 30px;
    padding-bottom: 40px;
}
ul{
    display: flex;
    gap: 30px;
    margin-left: 475px;
    font-size: small;
    list-style-type: none;
       
}
a{
    text-decoration: none;
    color: hsl(236, 13%, 42%);
}

.img-1{
    width: 600px;
    height: 250px;
}
.class{
    display: flex;
    margin-bottom: 50px;
}
.intro{
    display: flex;
}
.box-2{
    margin-left: 30px;
    width: 300px;
    height: 360px;
    background-color: hsl(240, 100%, 5%);
    padding: 20px;
}

.enter{
    width: 200px;

}
.note-1{
    font-size: small;
    color: hsl(236, 13%, 42%);  
    margin-left: 100px; 
    width: 300px;
    height: 85px;
}
.read-more{
    width: 150px;
    height: 35px;
    font-weight: bold;
    background-color: hsl(5, 85%, 63%);
    border: none;
    margin-left: 100px;
    
}
.new{
    color: hsl(35, 77%, 62%);
}
.web-3{
    font-size: 40px;
    margin-top: 10px;
    width: 200px;   
    color: hsl(240, 100%, 5%);
}

span{
    margin-left: 5px;
}

.note{
    font-size: small;
    color: hsl(236, 13%, 42%);
}
.list-1{
    display: flex;     
}
.first{
    display: flex;
}
.second{
    display: flex;
    margin-left: 30px;
}
.third{
    display: flex;
    margin-left: 65px;
}
.img-2{
    width: 100px;
    height: 110px;
}
.info{
    margin-left: 20px;
    margin-top: -20px;
}
.web-4{
    font-size: small;
    color: hsl(240, 100%, 5%);
}
.note-2{
    font-size: x-small;
    width: 150px;
    color: hsl(236, 13%, 42%);
}
.new-topic{
    color: white;
}
.number{
    color: hsl(5, 85%, 63%);
}
@media (max-width: 770px) {
    .page{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    ul{
        display: none;
    }
    .img-1{
        width: 100% ;
        height: 200px;
    }
    .intro{
        flex-direction: column;   
    }
    .web-3{
        font-size: 30px;
        width: 200px;   
    }
    .class{flex-direction: column;
    }
    
    .list-1{
        flex-direction: column;
    }
    .note-1{
        margin-left: 0;
        margin-top: -20px;  
        font-size: small;
        color: hsl(236, 13%, 42%);  
        width: 100%;  
        height: 0px;   
    }
    .enter{
        margin-left: 0px;
        width: 100%;
    
    }
    .read-more{
        margin-top: 70px;
        margin-left: 0;
    }

    .second,.third{
        margin-left: 0;
        margin-top: 20px;
    }
    .box-2{
        width: 100%;
        padding: 5px;
        margin-left: 0;
        margin-top: 40px;
        
    }
    .img-2{
        height: 90px;
    }
    .info{
        margin-left: 20px;
        margin-top: 0px;
    }

    .web-4{
        margin: 0;
        margin-top: 10px;

    }
    .note-2{
        margin: 0;
        margin-top: 15px;
    }
    .number{
        margin: 0;
        margin-top: -5px;
    }

}



